/*
Made by: Thomas Kool & Max Groenendijk
Beroepsproduct 2, Dynamische website
2015
*/
html, body{
    padding: 0px;
    margin:0px;
    height: 100%;
}

#wrap{
    height: 100%;
}
#header{
    width: 100%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 50px;
}
#nav{
    width: 100%;
    display: inline-block;
}
#content{
    height: 70%;

}

#logo{
    width: 80%;
    min-width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}
#logo img{
    height: 150px;
    width: 90%;
    min-width: 150px;
    padding-left: 5px;
}
#login{
    width: auto;
    display: inline-block;
    margin: 5px -8px 0px 0px;
    padding: 5px;
    vertical-align: bottom;
    text-align: left;
    border: 2px lightslategray solid;
}
#pageContent{
    width: 80%;
    display: inline-block;
    min-height: 100%;
    padding-left: 5px;
    margin: 0px -7px 0px 0px;
}
#advert{
    width: 20%;
    display: inline-block;
    margin-left: -4px;
    min-height: 100%;
    vertical-align: top;
    background-image: url("../media/advertentie.jpg ");
    background-repeat: no-repeat;
    background-position: top;
}

/* menu */
#menu{
    clear:both;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#nav {
    background-color: greenyellow;
    padding-bottom: 5px;
}
#menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#menu li{
    padding: 5px;
    background-color: greenyellow;
}
.menuItem{
    width: 20%;
    float: left;
    padding-top:5px;
    padding-bottom: 5px;
}
.menuItem:hover {
    background-color: white;
}
.subOptie:hover > .menuItem{
    background-color: yellowgreen;
}
.subMenu{
    display:none;
}
.menuItem:hover .subMenu{
    display: block;
    position: absolute;
    width: 20%;
}
.subOptie a {
    padding:5px;
    display: block;
    background-color: greenyellow;
}
.subMenu a:hover{
    background-color: white;
}
/* end menu */
.winkelwagen{
    width: 100%;
    vertical-align: text-top;
}
table, th, td, tr{
    vertical-align: text-top;
}
.tableBorder{
    border: black 1px solid;
    border-spacing: 0px;
}
.drieBlokken img{
    width: 25%;
    height: 100%;
    overflow: hidden;
}
.imgPreview{
    width: 80px;
    height: 175px;
    overflow: hidden;
    float: left;
}
/* pagina bloken */
.clear{
    clear: both;
    width: 100%;
}
.rightBlock{
    vertical-align: top;
    width: 80%;
}
.leftBlock{
    float: left;
    vertical-align: top;
    width: 250px;
}
.drieBlokken{
    float: left;
    width: 29%;
    border: 2px black solid;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    height: 100%;
}
.blockContainer{
    width: 100%;
    height: 200px;
}
.textBlock{
    display: inline-block;
    vertical-align: top;
}


